%TMPL:DEF{"comments"}%<!-- comments -->
%JQREQUIRE{"ui"}%
<div class='cmtComments'>
<a name='comments'></a>
%TMPL:P{"comments::list"}%<!-- comments list -->
%IF{"$'COMMENTSTATE'='open' or isempty 'COMMENTSTATE'"
  then="$percntTMPL:P{\"comments::add\"}$percnt"
  else="<!-- commenting closed -->"
}%
%TMPL:P{"comments::confirm::delete"}%<!-- comments::confirm::delete// -->
</div>
<!-- //comments -->%TMPL:END%

%TMPL:DEF{"comments::add"}%<!-- comments add -->
%TMPL:P{"comments::formstart"}%<!-- comments::formstart// -->
%TMPL:P{"comments::namestep::hidden"}%<!-- comments::namestep //-->
%TMPL:P{"comments::titlestep"}%<!-- comments::titlestep //-->
%TMPL:P{"comments::moresteps"}%<!-- comments::moresteps //-->
%TMPL:P{"comments::textstep"}%<!-- comments::textstep //-->
%TMPL:P{"comments::buttonstep"}%<!-- comments::buttonstep //-->
%TMPL:P{"comments::formend"}%<!-- comments::formend// -->
<!-- //comments add -->%TMPL:END%

%TMPL:DEF{"comments::format"}%comments::format::%IF{
  "defined 'COMMENTSTYLE'" 
  then="%COMMENTSTYLE%" 
  else="%TMPL:P{"comments::format::default"}%"
}%%TMPL:END%

%TMPL:DEF{"comments::format::default"}%simple%TMPL:END%

%TMPL:DEF{"comments::formats"}%simple, personal%TMPL:END%

%TMPL:DEF{"comments::list"}%%METACOMMENTS{
  header="<a class='foswikiRight cmtScroller' style='text-decoration:none' href='#lastcomment' title='%MAKETEXT{"scroll down"}%'>&darr;</a>
    <h2 class='cmtCounter'>$count</h2>"
  footer="<a class='foswikiRight cmtScroller' style='text-decoration:none' href='#comments' title='%MAKETEXT{"scroll down"}%'>&uarr;</a><span class='clear'></span>"
  singular="%MAKETEXT{"One comment"}%"
  plural="%MAKETEXT{"[_1] comments" args="$count"}%"
  template="%TMPL:P{"comments::format"}%"
  subtemplate="%TMPL:P{"comments::format"}%::subcomment"
  %IF{"$'COMMENTSTRUCTURE' = 'threaded'" then="threaded=\"on\""}%
}%%TMPL:END%

%TMPL:DEF{"comments::format::simple"}%<div class='cmtSimple cmtCommentContainer cmtComment$evenodd' id='cmtComment$index'>
  <div class='cmtComment'>
    <a name='comment$index'></a>
    <h3 class='cmtCommentNr'>$index</h3>
    %IF{"'%ENCODE{$title}%'!=''" then="<h3>%ENCODE{"$title" type="quote"}%</h3>"}%<!-- title -->
    <div class='cmtCommentText'>$n$text</div>
    <div class='foswikiRight cmtToolbar' style='display:none'>
      %IF{"$'COMMENTSTRUCTURE' = 'threaded'" then="<a href='#' class='cmtReply' title='%MAKETEXT{"Reply to comment [_1]" args="$index"}%'>%JQICON{"comment"}%</a>"}%<!-- linear replies -->
      <a href='#' class='cmtEdit' title='%MAKETEXT{"Edit this comment"}%'>%JQICON{"pencil"}%</a>
      <a href='#' class='cmtDelete' title='%MAKETEXT{"Delete this comment"}%'>%JQICON{"bin"}%</a>
    </div>
    <div class='foswikiSmallish foswikiGrayText cmtAuthorDate'>[[%USERSWEB%.$author][%SPACEOUT{$author}%]] - $date</div>
  </div>
  %TMPL:P{
    "comments::updater" 
    title="%ENCODE{"$title" type="entity"}%"
    text="%ENCODE{"$text" type="entity"}%"
    id="$id"
    index="$index"
  }% $subcomments
  <a name='bottomcomment$index'></a>
</div>%TMPL:END%

%TMPL:DEF{"comments::format::simple::subcomment"}%%TMPL:P{"comments::format::simple"}%%TMPL:END%

%TMPL:DEF{"comments::format::personal"}%<div class='cmtPersonal cmtCommentContainer cmtComment$evenodd' id='cmtComment$index'>
  <div class='cmtComment'>
    <a name='comment$index'></a>
    <h3 class='foswikiRight cmtCommentNr'>$index</h3>
    %IF{"'%ENCODE{$title}%'!=''" then="<h3>%ENCODE{"$title" type="quote"}%</h3>"}%<!-- title -->
    %TMPL:P{
      "comment::photo" 
      web="%USERSWEB%" 
      topic="$author"
    }%
    <div class='cmtCommentText'>$n$text</div>
    <div class='foswikiRight cmtToolbar' style='display:none'>
      %IF{"$'COMMENTSTRUCTURE' = 'threaded'" then="<a href='#' class='cmtReply' title='%MAKETEXT{"Reply to comment [_1]" args="$index"}%'>%JQICON{"comment"}%</a>"}%<!-- linear replies -->
      <a href='#' class='cmtEdit' title='%MAKETEXT{"Edit this comment"}%'>%JQICON{"pencil"}%</a>
      <a href='#' class='cmtDelete' title='%MAKETEXT{"Delete this comment"}%'>%JQICON{"bin"}%</a>
    </div>
    <div class='foswikiSmallish foswikiGrayText cmtAuthorDate'>[[%USERSWEB%.$author][%SPACEOUT{$author}%]] - $date</div>
    %CLEAR%
  </div>
  %TMPL:P{
    "comments::updater" 
    title="%ENCODE{"$title" type="entity"}%"
    text="%ENCODE{"$text" type="entity"}%"
    id="$id"
    index="$index"
  }% $subcomments
  <a name='bottomcomment$index'></a>
</div>%TMPL:END%

%TMPL:DEF{"comments::format::personal::subcomment"}%%TMPL:P{"comments::format::personal"}%%TMPL:END%

%TMPL:DEF{"comments::confirm::delete"}%<div id="cmtConfirmDelete" style="display:none" class="foswikiPage foswikiFormSteps">
<div class="foswikiFormStep">
  <h2>%MAKETEXT{"Delete comment [_1]" args="<span class='cmtCommentNr'></span>"}%</h2>
  %MAKETEXT{"Are you sure that you want to delete this comment?"}%
</div>
<div class="foswikiFormStep foswikiFormLast foswikiFormButtons">
  %BUTTON{"%MAKETEXT{"Yes"}%" icon="tick" id="submit"}%
  %BUTTON{"%MAKETEXT{"No"}%" icon="cross" id="cancel"}%
  %CLEAR%
</div></div>%TMPL:END%

%TMPL:DEF{"comments::updater"}%<div class="foswikiFormSteps cmtUpdater" style="display:none">
%TMPL:P{
  "comments::title::update" 
  index="%index%"
}%<!-- comments::title::update -->
<form class="UpdaterForm" name="updater" action="%SCRIPTURLPATH{"rest"}%/MetaCommentPlugin/comment" method="post">
<input type="hidden" name="topic" value="%BASEWEB%.%BASETOPIC%" />
<input type="hidden" name="useajax" value="on" />
<input type="hidden" name="cmt_action" value="update" />
<input type="hidden" name="cmt_id" value="%id%" />
<input type="hidden" name="cmt_index" value="%index%" />
<input type="hidden" name="t" value="%GMTIME{"$epoch"}%" />
<div class="foswikiFormStep">
  <input type="text" size="60" name="cmt_title" class="foswikiInputField" value="%title%" />
  <label for="title"><strong>Title</strong></label>
</div>
<div class="foswikiFormStep">
  <textarea wrap="virtual" name="cmt_text" rows="10" cols="80">%text%</textarea>
</div>
<div class="foswikiFormStep foswikiFormLast">
  %BUTTON{"%MAKETEXT{"Save"}%" icon="tick" class="cmtSave"}%
  %BUTTON{"%MAKETEXT{"Cancel"}%" icon="cross" class="cmtCancel"}%
  %CLEAR%
</div>
</form>
</div>%TMPL:END%


%TMPL:DEF{"comment::photo"}%<!-- comment::photo -->
  %IMAGE{
    "%IF{"'%web%.%topic%'/Photo"
      then="$percntFORMFIELD{\"Photo\" topic=\"%web%.%topic%\"}$percnt"
      else="%PUBURLPATH%/%SYSTEMWEB%/MetaCommentPlugin/nobody.gif"
    }%"
    topic="%web%.%topic%"
    type="simple"
    align="left"
    href="%SCRIPTURLPATH{"view"}%/%web%/%topic%"
    width="50"
    title="%SPACEOUT{"%topic%"}%"
  }%
<!-- comment::photo -->%TMPL:END%

%TMPL:DEF{"comments::title"}%%MAKETEXT{"Add a comment"}%%TMPL:END%
%TMPL:DEF{"comments::reply"}%%MAKETEXT{"Reply to comment [_1]" args="$index"}%%TMPL:END%

%TMPL:DEF{"comments::title::update"}%<h2>%MAKETEXT{"Edit comment [_1]" args="%index%"}%</h2>%TMPL:END%

%TMPL:DEF{"comments::formstart"}%<a name="addcomment"></a>
<div class="foswikiFormSteps cmtAddComment">
<h2 class='cmtAddCommentTitle1'>%TMPL:P{"comments::title"}%</h2>
<h2 class='cmtAddCommentTitle2'>%TMPL:P{"comments::reply"}%</h2>
<form id="AddCommentForm" name="AddCommentForm" action="%SCRIPTURLPATH{"rest"}%/MetaCommentPlugin/comment" method="post">
<input type="hidden" name="topic" value="%BASEWEB%.%BASETOPIC%" />
<input type="hidden" name="cmt_action" value="save" />
<input type="hidden" name="cmt_ref" value="" />
<input type="hidden" name="t" value="%GMTIME{"$epoch"}%" />
<input type="hidden" name="redirectto" value="%SCRIPTURL{"view"}%/%BASEWEB%/%BASETOPIC%#lastcomment" />
%TMPL:END%

%TMPL:DEF{"comments::formend"}%</form></div>%TMPL:END%

%TMPL:DEF{"comments::namestep"}%<div class="foswikiFormStep">
  <input class="foswikiInputField" type="text" size="60" name="cmt_author" value="%IF{"$'WIKINAME'!='%USERINFO{"guest" format="wikiname"}%'" then="%WIKINAME%"}%" />
  <label for="cmt_author"><strong>Name</strong></label>
</div>%TMPL:END%

%TMPL:DEF{"comments::namestep::hidden"}%<input type="hidden" name="cmt_author" value="%IF{"$'WIKINAME'!='%USERINFO{"guest" format="wikiname"}%'" then="%WIKINAME%"}%" />%TMPL:END%


%TMPL:DEF{"comments::titlestep"}%<div class="foswikiFormStep">
  <input class="foswikiInputField" type="text" name="cmt_title" size="60" />
  <label for="title"><strong>Title</strong></label>
</div>%TMPL:END%

%TMPL:DEF{"comments::textstep"}%<div class="foswikiFormStep">
<textarea wrap="virtual" name="cmt_text"  rows="10" cols="80"></textarea>
</div>%TMPL:END%

%TMPL:DEF{"comments::buttonstep"}%<div class="foswikiFormStep foswikiFormLast">
  %BUTTON{"%MAKETEXT{"Submit"}%" icon="tick" type="save"}%
  %BUTTON{"%MAKETEXT{"Cancel"}%" icon="cross" class="cmtCancel"}%
  %CLEAR%
</div>%TMPL:END%
