%TMPL:INCLUDE{"metacomments"}%

%TMPL:DEF{"comments::formend"}%</form>
<link rel='stylesheet' href='%PUBURLPATH%/%SYSTEMWEB%/MetaCommentPlugin/metacomment.pattern.css' media='all' />
%TMPL:P{"metacomments::init"}%<!-- -->
<!-- -->%TMPL:END%
