.cmtComments {
  margin:1.3846em 0em 0em;
}

.cmtRssFeed {
  float:right;
  text-decoration:none;
  padding:2px 2px 0px 2px;
}
.cmtRssFeed:hover {
  background-color:#eee;
  color:inherit;
  text-decoration:none;
}

.cmtComments h3 {
  margin:0px;
}

.foswikiMetaData .cmtAddComment {
  margin:1em 0em; /* 18px 0px */
}

#cmtReplyComment .cmtAddCommentTitle1,
.cmtAddComment .jqSimpleModalCancel,
.cmtAddCommentTitle2 {
  display:none;
}
#cmtReplyComment .jqSimpleModalCancel,
#cmtReplyComment .cmtAddCommentTitle2 {
  display:block;
}

.cmtCommentContainer {
  margin:1.3846em 0em;
  padding:1.3076em 1.3846em;
}

.cmtCommentContainer .cmtAddComment {
  margin-left:-1.3846em;
  margin-right:-1.3846em;
  margin-bottom:-1.3846em;
}
.cmtCommentContainer.cmtCommentOdd {
  border-top:1px #ddd solid;
  border-bottom:1px #ddd solid;
}
.cmtSubComments .cmtCommentContainer {
  margin:0px;
  padding-right:5px;
}
.cmtSubComments {
  border-left:5px solid #ddd;
  margin-top:1.3846em;
}

.cmtComments h3 {
  margin:0em 0em 1.0588em;
}
h3.cmtCommentNr {
  float:right;
  color:#444;
  margin:0em 0em 1em 1em;
}
.foswikiDialog .cmtDate,
.foswikiDialog .cmtAuthor,
.foswikiDialog .cmtCommentNr {
  font-weight:bold;
  white-space:nowrap;
}
.cmtControls {
  background-color:#fff;
  padding:0em 1.3846em 1.3076em;
  margin:0em -1.3846em -1.3076em;
}
.cmtCommentOdd .cmtControls,
.cmtCommentOdd {
  background-color:#f9f9f9;
}
.cmtComment {
  position:relative;
}
.cmtAuthor a {
  text-decoration:none;
}
.cmtControls {
  position:absolute;
  bottom:0;
  right:0;
  display:none;
}
.cmtControls a {
  margin-left:0.6923em;
}
.cmtHover .cmtAlert {
  visibility:hidden;
}
.cmtState_closed .cmtControls {
  display:none;
}
.cmtCommentText {
  margin:0em 0em 1.3846em ;
}
.cmtComments input,
.cmtComments textarea {
  font-family:arial,Helvetica,sans-serif;
  font-size:inherit;
}
.cmtComments textarea {
  width:99%;
}
.foswikiDialog textarea {
  width:98%;
}

.cmtComment .imagePlain_left,
.cmtComment .imageSimple_left {
  margin:0em 0.6923em 0.3077em 0em; /* 0px 9px 4px 0px */
}
.cmtStyle_insidetab h2.cmtCounter,
.cmtStyle_insidetab .cmtAddComment h2,
.cmtStyle_reverse .cmtAddComment h2 {
  display:none;
}

.cmtStyle_insidetab .twistyPlugin {
  display:none; /* switched on by js */
}

/* pattern skin */
#patternScreen .cmtComments h2,
#patternScreen .cmtComments h3 {
  padding:0px;
}
#patternScreen .cmtComments .foswikiFormSteps {
  margin-top:1.3846em; /* 18px */
  border-left:0px;
  border-right:0px;
}
#patternScreen .cmtStyle_threaded .foswikiFormSteps {
  border-bottom:0px;
  margin-bottom:0px;
}
#patternScreen .cmtComments .foswikiFormStep {
  border:0px;
}
